<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Proceda con el pago de sus productos</h2>
        </div>
  
      <div class="row g-3">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tu carrito de compras</span>
            <span class="badge bg-secondary rounded-pill">{{ totalQuantity }}</span>
          </h4>
          <ul class="list-group mb-3 shopping-cart-items">
            <li class="list-group-item d-flex justify-content-between lh-sm " *ngFor="let item of items">
              <div>
                <img [src]="item.img" alt="item1" />
                <span class="item-ref">REF #{{item.referencia}}</span>
                <span class="item-name">{{item.name}}</span>
                <span class="item-price">${{item.price}}</span>
                <span class="item-quantity">Cantidad: {{item.quantity}}</span>
              </div>
              <span class="text-muted">{{ item.precio }}</span>
              <button mat-button color="warn" (click)="remove(item)">Quitar</button>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (COP)</span>
              <strong>${{ totalPrice }}</strong>
            </li>
          </ul>          
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Direccion de facturacion</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="Nombre" >
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" placeholder="Apellido" >
              </div>
    
              <div class="col-12">
                <label for="email" class="form-label">Correo </label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="address" placeholder="cra 29 #87-254" >
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Complemento de la direccion <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartmento, vivienda">
              </div>
  
            </div>
  
            <hr class="my-4">
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address">Enviar producto a la misma direccion de facturacion</label>
            </div>
  
            <hr class="my-4">
  
            <h4 class="mb-3">Elija su opcion de pago</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                <label class="form-check-label" for="credit">Tarjeta de credito</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="debit">Tarjeta debito</label>
              </div>
              <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="paypal">PSE</label>
              </div>
            </div>
  
            <div class="row gy-4" >
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Nombre del propietario</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" >
                <small class="text-muted">Digite el nombre tal como aparece en la tarjeta</small>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Numero de tarjeta</label>
                <input type="text" class="form-control" id="cc-number" placeholder="XXXX-XXXX-XXXX-XXXX" >
              </div>
              <hr class="my-4">
              <div class="col-md-6">
                <label for="cc-expiration" class="form-label">Fecha de Expiracion</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="MM/AA" >
              </div>
  
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" >
              </div>
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Proceder a pagar</button>
          </form>
        </div>
      </div>
    </main>

  </div>




    

